
/* generelle Seitenansicht */



html{
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-attachment: scroll;
    background: linear-gradient(to bottom, black, purple);
}

body{
    text-align: center;
    font-family: Times New Roman;
    color: white;
    overflow: scroll;
}

body::-webkit-scrollbar {
    display: none;
}


.pfp {
    border-radius: 75px 0 75px 0;
    border: solid 2px;
}

.button{
    text-align: left;
}


.streifen{
    width: 100%;
    height: 5px;
    position: relative;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400% 400%;
    animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
  }
}



/* Überschriften */


h1{
    width: 150px;
    display: inline-block;
    border: solid 2px;
    border-radius: 75px 0 75px 0;
    color: black;
    background: linear-gradient(to right, white, #FAFAFA);
}

h2{
    display: block;
    margin: 20px;
}

.thin{
    font-family:'Courier New', Courier, monospace;
    font-weight: 100;
}

h2,h3,h4,p,footer{
    text-shadow: 2px 2px 2px black;
}

h4{
    font-family: 'Courier New', Courier, monospace;
}




/* Anpassungen Startseite */

.link{
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;

    width: 250px;
    background: linear-gradient(to right, white, #FAFAFA);
    font-size: 20px;
    border: solid 2px;
    border-radius: 50px;
    padding: 10px;
    color: black;
    margin: 10px auto;
    text-decoration: none;
}

.startleft{
    position: absolute;
    transform: translate(-110%, 120%); /* Vertikale Zentrierung des Textes */

    @media(max-aspect-ratio: 4/3)
    {
        display: none;
    }
}

.startright{
    position: absolute;
    transform: translate(10%, 120%); /* Vertikale Zentrierung des Textes */

    @media(max-aspect-ratio: 4/3)
    {
        display: none;
    }
}

#startcontainer{
    display: flexbox;
    
}

#nav{
    margin: 40px 0 0 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

#starttext{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    a{color: white;}
}





/* Anpassungen picture Seite */

#galery{
    width: 80%;
    margin: 0 auto;
    border: solid 2px;
    border-radius: 20px;
    background-color: black;
    animation: colorBoard 2s infinite;

    @media(max-aspect-ratio: 4/3)
    {
    width: 90vw;
    height: auto;
    }
}

.pic{
    width: 100%;
    border: 5px;
    border-radius: 20%;
}

@keyframes colorBoard{
    0%{border-color: black;}
    50%{border-color: purple;}
    100%{border-color: black;}
}


.pic:hover{
    transform:scale(1.2);
}

.pic:active{
    position: fixed;
    top: 0;
    left: 25vw;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: auto;
    pointer-events: none; /* Verhindert das Öffnen des Kontextmenüs */

    @media(max-aspect-ratio: 4/3)
    {
    width: 100vw;
    height: auto;
    left:0;
    }

    border-radius: 5%;
    transform:scale(1);
}



.picbutton{
    background-color: white;
    border: solid 2px black;
    border-radius: 5px;
    width: 20vw;
    height: 50px;
    margin: 20px;
}



/* Anpassungen video Seite */

iframe{
    aspect-ratio: 16/9;
}

#mainvideo iframe{
    width: 52%;

    @media(max-aspect-ratio: 4/3)
    {
        width: 90%;
    }
}


#subvideo{
    display: inline flex;
    border: solid black 2px;
    
    iframe{
        width:25vw;
        @media(max-aspect-ratio: 4/3)
        {
            width:40vw;
        }
    }
}


.tools li{ /* Tool Liste - auch auf der picture Seite */
    display: inline;
}

.tools{
    padding-left: 0;
    padding-inline-start: 0;
}




/* Anpassungen aboutme Seite */


#about{
    margin: auto;
    text-align: center;

    th,td{
        /*border-radius: 0 20px 0 20px;*/
        background-color: rgba(0, 0, 0, 0.5);
        font-size: larger;
    }

    th{
        padding: 20px 0 20px 0;
        border-radius: 0;
        background: none;
    }

    img{
        border-radius: 0 20px 0 20px;
        width: 100%;
        height: auto;
    }

}

.aboutmecell
{
    width: 25vw;
    height: 25vw;
    
    @media(max-aspect-ratio: 4/3){
        width: 40vw;
        height: 40vw;
    }
}

.aboutmeNoAnimation
{
    animation: none;
}


.aboutmeAnimation
{
    animation: fading 3s;
}

    @keyframes fading{
        0%{opacity: 0; transform: translateX(-10%);}
        100%{opacity: 1; transform: translateX(0);}
    }



/* Commission Seite */

#commissionPricing{
    overflow-x: auto;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

    @media(max-aspect-ratio: 4/3)
    {
        width: 90vw;
    }
}

.contactfeld{
    width: 60vw;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    @media(max-aspect-ratio: 4/3)
    {
        width: 90vw;
    }
}

#terms{
    text-align: center;
    list-style-position: inside;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 0;
    li{
        margin: 10px;
    }
}

#termsbg{
    background: black 0.5;
    border: solid white 2px;
    width: 60vw;
    margin: 0 auto;

    @media(max-aspect-ratio: 4/3)
    {
        width: 90vw;
    }
}

.nopoint{
    list-style-type: none;
    font-style: italic;
}

.pic2{
    width: 20vw;
    border-radius: 50%;
}

.pic2:active{
    border-radius: 0;
    pointer-events: none; /* Verhindert das Öffnen des Kontextmenüs */
}





/* Seitenlayout */

header{
    border: outset black thin;
    border-radius: 20px 0 0 0;
    display: block;
    background-color: rgba(255,255,255,0.95);
    padding: 20px 0 0 0;
    /*margin: 0 20% 0 20%;*/
}

.com{
    position: absolute;
    top: 0px;
    right: 8px;


    width: 160px;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    border: solid black 1px;
    border-radius: 0 0 0 50px;
    padding: 10px;

    a{
        color: white;
        text-decoration: none;
    }
}


main{
    border: outset white thin;
    background-color: rgba(0,0,0,0.3);
    display: block;
    padding: 0 0 20px 0;
    /*margin: 0 20% 0 20%;*/
}

footer{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}


.footlinks{ /*now in head*/
    background-color: rgba(0, 0, 0, 1);
    margin: 0 auto;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100px;

    td{
        width:25vw;
    }

    a{
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    }

    td:hover{
        background-color:purple;
        background-size: auto;
    }

}

